html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* centers vertically */
    min-height: 100vh;
}

.content-wrapper {
    flex: 1;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}



header {
    background: #0e0f0f;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header .container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    text-align: left; 
}

header.header-left .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/*
nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}*/

.quick-links {
    padding: 50px 0;
    text-align: center;
}

.quick-links h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.quick-links-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    flex-wrap: wrap;
    max-width: 5000px;  
    margin: 80px auto;  
}

.link-card {
    background: white;
    padding: 20px;
    flex: 1 1 30%;       /* allow cards to grow and fill space */
    max-width: 400px;     /* limit maximum width */
    min-width: 250px;     /* ensure cards don't get too narrow */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.link-card h3 {
    font-size: 24px;
    color: #0073e6;
}

.link-card p {
    font-size: 16px;
    margin-bottom: 15px;
}

.link-card ul {
    text-align: left;
    padding: 0 20px;
}

.link-card .btn {
    display: inline-block;
    background: #0073e6;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

footer {
    background: #222;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}

footer a {
    color: #fff;
    text-decoration: none;
}

.social-icons a {
    margin: 0 10px;
    font-size: 20px;
}